.rx-translation-button{
    -fx-background-color: linear-gradient(to right,#00fffc,#fff600);
    /*-fx-arc-width: 10;*/
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.rx-translation-button:pressed{
    -fx-opacity: 0.8;
}